<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listagem de Cursos</title>

    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/listar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="preload">

    <header>
        <div class="logo">
            <i class="fa-solid fa-school"></i> Sistema de Gestão de Alunos
        </div>

        <nav>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/alunos}">Alunos</a>
            <a th:href="@{/cursos}">Cursos</a>
        </nav>
    </header>

    <main>
        <div class="toast sucesso" th:if="${sucesso}">
            <i class="fa-solid fa-circle-check"></i>
            <span th:text="${sucesso}"></span>
        </div>

        <div class="toast erro" th:if="${erro}">
            <i class="fa-solid fa-circle-xmark"></i>
            <span th:text="${erro}"></span>
        </div>

        <div class="page-header">
            <h1>Cursos Cadastrados</h1>

            <a th:href="@{/cursos/novo}" class="btn btn-add">
                <i class="fa-solid fa-plus"></i> Cadastrar Curso
            </a>
        </div>

        <section class="table-container">

            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Carga Horária</th>
                        <th>Descrição</th>
                    </tr>
                </thead>

                <tbody th:if="${listaCursos}" th:each="curso : ${listaCursos}">
                    <tr>
                        <td th:text="${curso.nome}"></td>
                        <td>
                            <span th:text="${curso.cargaHoraria}"></span> horas
                        </td>
                        <td th:text="${curso.descricao}"></td>
                    </tr>
                </tbody>

                <tbody th:if="${#lists.isEmpty(listaCursos)}">
                    <tr>
                        <td colspan="3" class="no-data">Nenhum curso cadastrado.</td>
                    </tr>
                </tbody>

            </table>

        </section>

    </main>

    <script src="/js/transitions.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>